@model Vidly.ViewModels.RandomMovieViewModel
<!--We pass the Movie model class to the View (to the Random.cshtml in this case)-->
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ////when I created the Random view (for the MoviesController), I chose the Layout "_Layout.cshtml".
    //As the homepage uses this layout scheme as well, I wanted this page to have the same look.
}

<h2>Title: @Model.Movie.Name</h2>

<!--this if-block checks, whether there is value added to properties of Customer class or not-->
@if (Model.Customers.Count == 0)
{
    <p>No one has rented this movie yet</p>
}

else
{


    <!--We print the customer "Name" values with a foreach loop, into a list element-->
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}

<!--Every View has access to the dynamic Model property, with the model (movie, for ex.) we pass to it.-->
